<td>
  <i class="fa-solid fa-fw fa-bars color-grey is-drawable"></i>
  <span><%= model.title %></span>
</td>
<td>
  <%= image_tag model.image, class: 'image is-48x48' if model.image.attached? %>
</td>
<td><%= model.ratio %></td>
<td><%= model.link %></td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :enabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
