<div class="<%= active_helper(modules: 'cms/admin', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('cms.admin.carousels.index.title'), { controller: 'cms/admin/carousels' }, class: active_helper(controllers: 'carousels', active: 'is-active') %>
    <%= link_to t('cms.admin.audios.index.title'), { controller: 'cms/admin/audios' }, class: active_helper(controllers: 'audios', active: 'is-active') %>
    <%= link_to t('cms.admin.videos.index.title'), { controller: 'cms/admin/videos' }, class: active_helper(controllers: 'videos', active: 'is-active') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-chart-line fa-fw"></i>
    <span><%= t('cms.admin.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
</div>
