<td><%= model.title %></td>
<td><%= image_tag model.cover, class: 'image' if model.cover.attached? %></td>
<td><%= video_tag model.media.url(disposition: params[:disposition]), controls: true, class: 'image is-128x128' %></td>
<td>
  <label class="tag"><%= model.state_i18n %></label>
  <div class="buttons">
    <%# link_to t('.approve'), new_check_path('Video', model.id, state: Cms::Video.states[:verified]), class: 'button is-success' %>
    <div class="or"></div>
    <%# link_to t('.reject'), new_check_path('Video', model.id, state: Cms::Video.states[:rejected]), class: 'button is-danger' %>
  </div>
</td>
<td></td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
