<div>
  <dt><%= Cms::Audio.human_attribute_name(:title) %></dt>
  <dd><%= @audio.title %></dd>
</div>
<div>
  <dt><%= Cms::Audio.human_attribute_name(:state) %></dt>
  <dd><%= @audio.state %></dd>
</div>
<div>
  <dt><%= Cms::Audio.human_attribute_name(:author) %></dt>
  <dd><%= @audio.author %></dd>
</div>
