<tr>
  <td class="right aligned"><%= Cms::Audio.human_attribute_name(:title) %></td>
  <td><%= @audio.title %></td>
</tr>
<tr>
  <td class="right aligned"><%= Cms::Audio.human_attribute_name(:state) %></td>
  <td><%= @audio.state %></td>
</tr>
<tr>
  <td class="right aligned"><%= Cms::Audio.human_attribute_name(:author) %></td>
  <td><%= @audio.author %></td>
</tr>
