<td>
  <p><%= link_to model.title, { action: 'show', id: model.id } %></p>
  <p><%= model.media.blob.filename.to_s if model.media.attached? %></p>
</td>
<td><%= model.state %></td>
<td><%= image_tag model.cover, class: 'image is-64x64' if model.cover.attached? %></td>
<td><%= audio_tag model.media.url(disposition: params[:disposition]), controls: true if model.media.attached? %></td>
<td><%= model.media.blob.byte_size.to_fs(:human_size) if model.media.attached? %></td>
<td>
  <% model.tags.each do |tag| %>
    <span class="tag"><%= tag.name %></span>
  <% end %>
</td>
