<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_posters_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="active section">Show</div>
</div>

<table class="ui very basic large table">
  <tbody>
    <tr>
      <td class="right aligned"><%= Poster.human_attribute_name(:title) %></td>
      <td><%= @poster.title %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Poster.human_attribute_name(:link) %></td>
      <td><%= @poster.link %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Poster.human_attribute_name(:linking_type) %></td>
      <td><%= @poster.linking_type %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Poster.human_attribute_name(:linking_id) %></td>
      <td><%= @poster.linking_id %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Poster.human_attribute_name(:published) %></td>
      <td><%= @poster.published %></td>
    </tr>
  </tbody>
</table>
