<div>
  <dt><%= Cms::Video.human_attribute_name(:title) %></dt>
  <dd><%= @video.title %></dd>
</div>
<div>
  <dt><%= Cms::Video.human_attribute_name(:state) %></dt>
  <dd><%= @video.state %></dd>
</div>
<div>
  <dt><%= Cms::Video.human_attribute_name(:author_id) %></dt>
  <dd><%= @video.author_id %></dd>
</div>
