<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_videos_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="active section">Show</div>
</div>

<table class="ui very basic large table">
  <tbody>
    <tr>
      <td class="right aligned"><%= Video.human_attribute_name(:title) %></td>
      <td><%= @video.title %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Video.human_attribute_name(:state) %></td>
      <td><%= @video.state %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Video.human_attribute_name(:author_id) %></td>
      <td><%= @video.author_id %></td>
    </tr>
  </tbody>
</table>
