<div class="ui top attached borderless menu">
  <div class="header item">Posts</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Post', new_admin_post_path, class: 'ui teal button' %>
    </div>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= Post.human_attribute_name(:id) %></th>
      <th><%= Post.human_attribute_name(:title) %></th>
      <th><%= Post.human_attribute_name(:code) %></th>
      <th><%= Post.human_attribute_name(:state) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.title %></td>
      <td><%= post.code %></td>
      <td class="ui labels">
        <label class="ui label"><%= post.state_i18n %></label>
        <div class="ui mini buttons">
          <%= link_to t('.approve'), new_check_path('Post', post.id, state: Post.states[:published]), remote: true, class: 'ui positive button' %>
          <div class="or"></div>
          <%= link_to t('.reject'), new_check_path('Post', post.id, state: Post.states[:rejected]), remote: true, class: 'ui negative button' %>
        </div>
      </td>
      <td class="ui labels">
        <%= link_to admin_post_path(post), data: { tooltip: t('.show') }, class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_admin_post_path(post), data: { tooltip: t('.edit') }, class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to admin_post_path(post), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @posts %>
