<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_posts_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="active section">Show</div>
</div>

<table class="ui very basic large table">
  <tbody>
    <tr>
      <td class="right aligned four wide"><%= Post.human_attribute_name(:title) %></td>
      <td class="twelve wide"><%= @post.title %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Post.human_attribute_name(:code) %></td>
      <td><%= @post.code %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Post.human_attribute_name(:content) %></td>
      <td><%= @post.content %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= App.human_attribute_name(:checks) %></td>
      <td>
        <%= render 'audit/checks', target: @post %>
      </td>
    </tr>
  </tbody>
</table>
