<div data-controller="slide" data-slide-delay-value="3" data-slide-debug-value="true" data-slide-target="container" class="slide" style="padding-bottom: <%= Cms::Carousel.default_where(default_params).min_ratio %>">
<% Cms::Carousel.default_where(default_params).each_with_index do |carousel, index| %>
  <% if carousel.link.present? %>
    <figure class="image" data-action="touchmove->slide#move:passive touchend->slide#end:passive" data-index="<%= index %>">
      <%= link_to(carousel.link, state: 'enter') do %>
        <% if carousel.image.content_type.to_s.start_with?('video') %>
          <%= video_tag carousel.image.url, controls: true %>
        <% else %>
          <%= image_tag carousel.image %>
        <% end %>
      <% end %>
      <figcaption><%= index + 1 %>/<%= Cms::Carousel.default_where(default_params).size %></figcaption>
    </figure>
  <% else %>
    <figure class="image" data-action="touchmove->slide#move:passive touchend->slide#end:passive" data-index="<%= index %>">
      <% if carousel.image.content_type.to_s.start_with?('video') %>
        <%= video_tag carousel.image.url, controls: true %>
      <% else %>
        <%= image_tag carousel.image %>
      <% end %>
      <figcaption><%= index + 1 %>/<%= Cms::Carousel.default_where(default_params).size %></figcaption>
    </figure>
  <% end %>
<% end %>
</div>
